header.content-header
    .sticky-left
        a(href="#").menu-toggle
            span.fa.fa-bars
        .searchbar
            span.fa.fa-search
            input(type="text" placeholder="Search for something...")
    .sticky-right
        span.welcome Welcome to adminGG
        a(href="#").notification
            span.fa.fa-bell
        a(href="#").logout
            span.fa.fa-sign-out
            p Log Out


