// meta
title #{title}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="#{title}")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="shortcut icon" type="images/x-icon" href="img/favicon.ico")

// fonts
include ./font.jade

// font-awesome
link(rel="stylesheet" href="js/vendor/font-awesome-4.7.0/css/font-awesome.min.css")
// slick
link(rel="stylesheet" href="js/vendor/slick-1.6.0/slick.css")
link(rel="stylesheet" href="js/vendor/slick-1.6.0/slick-theme.css")
// stylesheets
link(rel="stylesheet" href="css/admingg-dist.css")