//- accordion.jade
- var title = "AdminGG by AkoMid"
- var page = "accordion"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Accordion
                        p.description Usage example of accordion

                    .column-2
                        .container
                            h1 Basic Accordion
                            .accordion
                                .accordion-title.default-open 
                                    strong What?
                                .accordion-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna.
                                .accordion-title 
                                    strong When?
                                .accordion-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna.
                                .accordion-title 
                                    strong How?
                                .accordion-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna.
                        .container
                            h1 Styled Accordion
                            .accordion.border
                                .accordion-title.default-open 
                                    strong What?
                                .accordion-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna.
                                .accordion-title 
                                    strong When?
                                .accordion-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna.
                                .accordion-title 
                                    strong How?
                                .accordion-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna.

                    .container
                        .panel-accordion.default-open
                            h3.accordion-title Panel Accordion - Default Open
                            .accordion-content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna. Quisque leo turpis, eleifend et lorem eget, varius varius ante. Sed dignissim nec urna eu vehicula. Sed at sem et urna viverra commodo id sit amet orci. Cras pharetra urna vitae nulla pharetra, pretium bibendum mi laoreet. Morbi congue sed neque ut placerat. In tristique pretium velit ut mattis. Vivamus lobortis consequat malesuada. Donec eu ipsum varius, lacinia dui nec, scelerisque orci. Nunc vel blandit orci. Maecenas id nulla ipsum. Morbi at neque a nulla lobortis pretium in a felis.
                                p Suspendisse condimentum blandit ex eget accumsan. Vestibulum posuere sem justo, quis aliquam ipsum lobortis sit amet. Integer varius neque a est porta, vitae convallis elit tincidunt. Duis consectetur massa eros, at vestibulum ex tristique in. Aliquam erat volutpat. Pellentesque dapibus libero at ex tempus euismod. Ut placerat enim nec iaculis imperdiet. Sed bibendum scelerisque metus id dapibus. Mauris lectus lorem, tincidunt sit amet dictum vel, posuere non arcu. Etiam et sapien dignissim, sodales leo at, tempor tellus. Sed tempus id dui vel imperdiet. Sed sem tellus, pharetra eu felis at, sodales semper erat. Donec in dolor justo. Duis in porttitor lacus, facilisis faucibus metus.

                    .container
                        .panel-accordion.fixed-height
                            h3.accordion-title Panel Accordion - Fixed Height
                            .accordion-content
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna. Quisque leo turpis, eleifend et lorem eget, varius varius ante. Sed dignissim nec urna eu vehicula. Sed at sem et urna viverra commodo id sit amet orci. Cras pharetra urna vitae nulla pharetra, pretium bibendum mi laoreet. Morbi congue sed neque ut placerat. In tristique pretium velit ut mattis. Vivamus lobortis consequat malesuada. Donec eu ipsum varius, lacinia dui nec, scelerisque orci. Nunc vel blandit orci. Maecenas id nulla ipsum. Morbi at neque a nulla lobortis pretium in a felis.
                                p Suspendisse condimentum blandit ex eget accumsan. Vestibulum posuere sem justo, quis aliquam ipsum lobortis sit amet. Integer varius neque a est porta, vitae convallis elit tincidunt. Duis consectetur massa eros, at vestibulum ex tristique in. Aliquam erat volutpat. Pellentesque dapibus libero at ex tempus euismod. Ut placerat enim nec iaculis imperdiet. Sed bibendum scelerisque metus id dapibus. Mauris lectus lorem, tincidunt sit amet dictum vel, posuere non arcu. Etiam et sapien dignissim, sodales leo at, tempor tellus. Sed tempus id dui vel imperdiet. Sed sem tellus, pharetra eu felis at, sodales semper erat. Donec in dolor justo. Duis in porttitor lacus, facilisis faucibus metus.
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod eros nunc, vitae tincidunt nibh pulvinar sit amet. Vestibulum a ante ut augue blandit iaculis eget semper magna. Quisque leo turpis, eleifend et lorem eget, varius varius ante. Sed dignissim nec urna eu vehicula. Sed at sem et urna viverra commodo id sit amet orci. Cras pharetra urna vitae nulla pharetra, pretium bibendum mi laoreet. Morbi congue sed neque ut placerat. In tristique pretium velit ut mattis. Vivamus lobortis consequat malesuada. Donec eu ipsum varius, lacinia dui nec, scelerisque orci. Nunc vel blandit orci. Maecenas id nulla ipsum. Morbi at neque a nulla lobortis pretium in a felis.
                                p Suspendisse condimentum blandit ex eget accumsan. Vestibulum posuere sem justo, quis aliquam ipsum lobortis sit amet. Integer varius neque a est porta, vitae convallis elit tincidunt. Duis consectetur massa eros, at vestibulum ex tristique in. Aliquam erat volutpat. Pellentesque dapibus libero at ex tempus euismod. Ut placerat enim nec iaculis imperdiet. Sed bibendum scelerisque metus id dapibus. Mauris lectus lorem, tincidunt sit amet dictum vel, posuere non arcu. Etiam et sapien dignissim, sodales leo at, tempor tellus. Sed tempus id dui vel imperdiet. Sed sem tellus, pharetra eu felis at, sodales semper erat. Donec in dolor justo. Duis in porttitor lacus, facilisis faucibus metus.

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade