//- banner.jade
- var title = "AdminGG by AkoMid"
- var page = "banner"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Banner
                        h3.description Using Image

                    .banner-wrap
                        img(src="img/harbour.jpg" alt="Harbour")

                    .section-header
                        h3.description Using Background Property

                    .banner-wrap(style="background-image:url('img/harbour.jpg')")

                    .section-header
                        h3.description With Overlay

                    .banner-wrap.overlay-default
                        img(src="img/harbour.jpg" alt="Harbour")
                    .banner-wrap.overlay-blue
                        img(src="img/harbour.jpg" alt="Harbour")
                    .banner-wrap.overlay-orange
                        img(src="img/harbour.jpg" alt="Harbour")

                    .section-header
                        h3.description With Title and Description

                    .banner-wrap.overlay-default
                        img(src="img/harbour.jpg" alt="Harbour")
                        .text
                            h1 Insert Title Here
                            p Insert Detailed and Self-Explanatory Description Here           

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade