//- dropdown.jade
- var title = "AdminGG by AkoMid"
- var page = "dropdown"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Dropdowns
                        p.description Usage example of dropdowns

                    .row
                        .column-12
                            .container
                                h1 Normal Dropdown
                                select(name="select1").dropdown-select
                                    option Option 1
                                    option Option 2
                                    option Option 3
                                    option Option 4
                                    option Option 5

                    .row
                        .column-12
                            .container
                                h1 Multiple Dropdown
                                select(name="select1" multiple="multiple").dropdown-select
                                    option Option 1
                                    option Option 2
                                    option Option 3
                                    option Option 4
                                    option Option 5

                    .row
                        .column-6
                            .container
                                h1 Disabled Dropdown
                                select.dropdown-select(disabled)
                                    option Option 1
                                    option Option 2
                                    option Option 3
                                    option Option 4
                                    option Option 5
                        .column-6
                            .container
                                h1 Disabled Option
                                select.dropdown-select
                                    option Option 1
                                    option(disabled="disabled") Option 2 (disabled)
                                    option Option 3
                                    option Option 4
                                    option Option 5

                    .row
                        .column-12
                            .container
                                p adminGG used Select2 plugin for dropdown.
                                p More customization options can be found on 
                                    a(href="https://select2.github.io/") their site
                                    | .
                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade