//- layouts.jade
- var title = "AdminGG by AkoMid"
- var page = "layouts"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Layouts
                        p.description Usage example of layouts

                    .container

                    .column-2
                        .container
                        .container

                    .column-3
                        .container
                        .container
                        .container

                    .column-4
                        .container
                        .container
                        .container
                        .container

                    hr

                    .container

                    .column-2
                        .container

                    .column-3
                        .container

                    .column-4
                        .container


                    hr

                    .container

                    .column-2.float-right
                        .container

                    .column-3.float-right
                        .container

                    .column-4.float-right
                        .container

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade