//- layouts.jade
- var title = "AdminGG by AkoMid"
- var page = "layouts"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Layouts
                        p.description Usage example of layouts

                    .row
                        .column-12
                            .container

                    .row
                        .column-11
                            .container
                        .column-1
                            .container

                    .row
                        .column-10
                            .container
                        .column-2
                            .container

                    .row
                        .column-9
                            .container
                        .column-3
                            .container

                    .row
                        .column-8
                            .container
                        .column-4
                            .container

                    .row
                        .column-7
                            .container
                        .column-5
                            .container

                    .row
                        .column-6
                            .container
                        .column-6
                            .container

                    .row
                        .column-5
                            .container
                        .column-7
                            .container

                    .row
                        .column-4
                            .container
                        .column-8
                            .container

                    .row
                        .column-3
                            .container
                        .column-9
                            .container

                    .row
                        .column-2
                            .container
                        .column-10
                            .container

                    .row
                        .column-1
                            .container
                        .column-11
                            .container

                    .row
                        .column-12
                            .container
                    hr
                    .row
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-2
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-3
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-4
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-5
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-6
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-7
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-8
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-9
                            .container
                        .column-1
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-10
                            .container
                        .column-1
                            .container
                    .row
                        .column-1.column-offset-11
                            .container

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade