//- list.jade
- var title = "AdminGG by AkoMid"
- var page = "list"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title List
                        p.description Usage example of list

                    .column-2
                        .container
                            h1 Default Unordered List
                            ul
                                li List 1
                                li List 2
                                li List 3
                                    ul
                                        li List 3.1
                                        li List 3.2
                                li List 4
                        .container
                            h1 Square Unordered List
                            ul.list-square
                                li List 1
                                li List 2
                                li List 3
                                    ul
                                        li List 3.1
                                        li List 3.2
                                li List 4

                    .column-3
                        .container
                            h1 Default Ordered List
                            ol
                                li List 1
                                li List 2
                                li List 3
                                    ol
                                        li List 3.1
                                        li List 3.2
                                li List 4
                        .container
                            h1 Alphabet Ordered List
                            ol.list-alpha
                                li List 1
                                li List 2
                                li List 3
                                    ol
                                        li List 3.1
                                        li List 3.2
                                li List 4
                        .container
                            h1 Roman Ordered List
                            ol.list-roman
                                li List 1
                                li List 2
                                li List 3
                                    ol
                                        li List 3.1
                                        li List 3.2
                                li List 4

                    .column-2
                        .container
                            h1 Border Horizontal List
                            ul.list-horizontal-1
                                li List 1
                                li List 2
                                li List 3
                                li List 4
                        .container
                            h1 Dotted Horizontal List
                            ul.list-horizontal-2
                                li List 1
                                li List 2
                                li List 3
                                li List 4

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade