//- slider.jade
- var title = "AdminGG by AkoMid"
- var page = "slider"

doctype html
html

    // head
    head
        include ./include/head.jade
        // for demo purposes
        link(rel="stylesheet" href="css/slider-demo.css")

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Sliders
                        p.description Usage example of sliders

                    .row
                        .column-12
                            .container
                                h1 Single Item
                                .slider-demo-1
                                    .slide-demo
                                        h1 1
                                    .slide-demo
                                        h1 2
                                    .slide-demo
                                        h1 3

                    .row
                        .column-12
                            .container
                                h1 Multiple Item
                                .slider-demo-2
                                    .slide-demo
                                        h1 1
                                    .slide-demo
                                        h1 2
                                    .slide-demo
                                        h1 3
                                    .slide-demo
                                        h1 4
                                    .slide-demo
                                        h1 5
                                    .slide-demo
                                        h1 6
                                    .slide-demo
                                        h1 7
                                    .slide-demo
                                        h1 8
                                    .slide-demo
                                        h1 9

                    .row
                        .column-12
                            .container
                                h1 Responsive Display
                                .slider-demo-3
                                    .slide-demo
                                        h1 1
                                    .slide-demo
                                        h1 2
                                    .slide-demo
                                        h1 3
                                    .slide-demo
                                        h1 4
                                    .slide-demo
                                        h1 5
                                    .slide-demo
                                        h1 6
                                    .slide-demo
                                        h1 7
                                    .slide-demo
                                        h1 8

                    .row
                        .column-12
                            .container
                                h1 Slider Syncing + Autoplay
                                .slider-demo-4-1
                                    .slide-demo
                                        h1 1
                                    .slide-demo
                                        h1 2
                                    .slide-demo
                                        h1 3
                                    .slide-demo
                                        h1 4
                                    .slide-demo
                                        h1 5
                                .slider-demo-4-2
                                    .slide-demo
                                        h1 1
                                    .slide-demo
                                        h1 2
                                    .slide-demo
                                        h1 3
                                    .slide-demo
                                        h1 4
                                    .slide-demo
                                        h1 5

                    .row
                        .column-12
                            .container
                                p adminGG used Slick plugin for sliders.
                                p More customization options can be found on 
                                    a(href="http://kenwheeler.github.io/slick/") their site
                                    | .

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade