//- typography.jade
- var title = "AdminGG by AkoMid"
- var page = "typography"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Fonts
                        p.description Usage example of fonts

                    .row
                        .column-12
                            .container
                                h1 H1 Open Sans Font Size 2em Margin Bottom 20px
                                h2 H2 Open Sans Font Size 1.5em Margin Bottom 15px
                                h3 H3 Open Sans Font Size 1.17em Margin Bottom 10px
                                h4 H4 Open Sans Font Size 1em Margin Bottom 10px
                                h5 H5 Open Sans Font Size 0.83em Margin Bottom 5px
                                hr
                                p P Open Sans Font Size 1em Margin Bottom 10px Font Weight 400
                                hr
                                p
                                    i P Open Sans Font Size 1em Margin Bottom 10px Italic Font Weight 400
                                hr
                                p.font-thin P Open Sans Font Size 1em Margin Bottom 10px Font Weight 300
                                hr
                                p.font-semibold P Open Sans Font Size 1em Margin Bottom 10px Font Weight 600
                                hr
                                p.font-bold P Open Sans Font Size 1em Margin Bottom 10px Font Weight 700
                                hr
                                p.align-left Text Aligned Left
                                hr
                                p.align-center Text Aligned Center
                                hr
                                p.align-right Text Aligned Right

                    .section-header
                        h1.title Icons
                        p.description Usage example of icons

                    .row
                        .column-12
                            .container
                                h2
                                    span.fa.fa-facebook-square
                                    &nbsp;
                                    span.fa.fa-twitter-square
                                    &nbsp;
                                    span.fa.fa-linkedin-square
                                p adminGG used Font Awesome plugin for icons.
                                p More customization options can be found on 
                                    a(href="http://fontawesome.io/cheatsheet/") their site
                                    | .

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade