//- typography.jade
- var title = "AdminGG by AkoMid"
- var page = "typography"

doctype html
html

    // head
    head
        include ./include/head.jade

    // body
    body

        .admingg

            // sidebar
            include ./include/sidebar.jade

            .content

                // header
                include ./include/header.jade

                // main content
                div(role="main")
                    .section-header
                        h1.title Typography

                    .container
                        h1 H1 TEXT ELEMENT
                        h1.align-center H1 Text Element
                        h1.align-right H1 Text Element
                    
                    .container
                        h2 H2 TEXT ELEMENT
                        h2.align-center H2 Text Element
                        h2.align-right H2 Text Element

                    .container
                        h3 H3 TEXT ELEMENT
                        h3.align-center H3 Text Element
                        h3.align-right H3 Text Element

                    .container
                        h4 H4 TEXT ELEMENT
                        h4.align-center H4 Text Element
                        h4.align-right H4 Text Element

                    .container
                        h5 H5 TEXT ELEMENT
                        h5.align-center H5 Text Element
                        h5.align-right H5 Text Element

                    .container
                        p P TEXT ELEMENT
                        p.align-center P Text Element
                        p.align-right P Text Element

                // footer
                include ./include/footer.jade

        // script
        include ./include/script.jade