// variables and mixins
@import "./variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: @colorFontGray;
    font-size: 13px;
    .fontOpenSans();
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0 0 20px 0;
}

h2,
h3 {
    margin: 0 0 15px 0;
}

h4,
h5,
p {
    margin: 0 0 10px 0;
}

hr {
    border: none;
    border-bottom: 1px solid #dedede;
    margin: 25px 0;
}