// variables and mixins
@import "./variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: @colorFontGray;
    font-size: 13px;
    .fontOpenSans();
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

ol {
    margin: 0;
    padding: 0 0 0 20px;
}

a {
    text-decoration: none;
    color: @colorDarkBlue;

    &:visited {
        color: @colorDarkBlue;        
    }
}

h1 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 15px 0;
}

h3 {
    font-size: 1.17em;
    margin: 0 0 10px 0;
}

h4 {
    font-size: 1em;
    margin: 0 0 10px 0;
}

h5 {
    font-size: 0.83em;
    margin: 0 0 5px 0;
}

p {
    font-size: 1em;
    margin: 0 0 10px 0;
}

hr {
    border: none;
    border-bottom: 1px solid #dedede;
    margin: 20px 0;
}

img {
    width: 100%;
    max-width: 100%;
}