// colors
@colorDarkBlue: #1561ae;
@colorLightBlue: #00aeef;
@colorGray: #f3f3f4;
@colorWhite: #fff;
@colorOrange: #f8ac59;
@colorRed: #ed5565;
@colorGreen: #1ab394;

@colorFontGray: #676a6c;
@colorBorderGray: #e7eaec;

// font weight
@thin: 300;
@regular: 400;
@semibold: 600;
@bold: 700;

// fonts
.fontOpenSans() {
    font-family: 'Open Sans', sans-serif;
}

// clearing float
.clearfix() {

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

// btn mixins
.btn-color(@color, @textColor: #fff) {
    color: @textColor;
    background-color: @color;
    border-color: @color;

    &:hover {
        background-color: darken(@color, 8%);
        border-color: @color;
    }
}
.btn-disabled(@color, @borderColor, @textColor: #fff) {
    color: @textColor;
    background-color: lighten(@color, 8%);
    border-color: @borderColor;

    &:hover {
        background-color: lighten(@color, 8%);
        border-color: @borderColor;
    }
}
.btn-border(@borderColor, @textColor: @borderColor) {
    color: @textColor;
    background-color: @colorWhite;
    border-color: @borderColor;

    &:hover {
        color: darken(@textColor, 10%);
        background-color: @colorWhite;
        border-color: darken(@borderColor, 10%);
    }
}

// layout mixins
.generate-columns(@columns; @current: 1) when (@current =< @columns) {
    .column-@{current} {
        width: (@current/@columns*100%);
        float: left;
    }
    .generate-columns(@columns, (@current + 1));
}
.generate-offset-columns(@columns; @current: 1) when (@current =< @columns) {
    .column-offset-@{current} {
        margin-left: (@current/@columns*100%);
    }
    .generate-offset-columns(@columns, (@current + 1));
}